<div class="conrtainer">
  <h2 class="text-center mt-5"><%= @user.name %></h2>
    <div>
      <!--タブ部分-->
      <ul class="col-8 tab-list list-unstyled mx-auto d-flex justify-content-center mt-5">
        <li class="tab tab-active">
          all
        </li>
        <li class="tab">
          Work
        </li>
        <li class="tab">
          Hobby
        </li>
      </ul>
      <!--タブで選択された要素部分-->
      <div class="tabbox-contents">
        <div class="tabbox box-show">
          <%= render 'posts/index', posts: @posts %>
        </div>
        <div class="tabbox">
          <%= render 'posts/index', posts: @posts %>
        </div>
        <div class="tabbox">
          <%= render 'posts/index', posts: @posts %>
        </div>
      </div>
    </div>
</div>

<script>
  // turbolinksの無効化
$(document).on('turbolinks:load', function() {
  $(function() {
    // .tabがクリックされたときを指定
    $('.tab').click(function(){
      // 今ある.tab-activeを削除
      $('.tab-active').removeClass('tab-active');
      // クリックされた.tabに.tab-activeを追加
      $(this).addClass('tab-active');
      // 今ある.box-showを削除
      $('.box-show').removeClass('box-show');
      // indexに.tabのindex番号を代入
      const index = $(this).index();
      // .tabboxとindexの番号が同じ要素に.box-showを追加
      $('.tabbox').eq(index).addClass('box-show');
    });
  });
});

</script>