<div class="conrtainer">
  <h2 class="text-center mt-5"><%= @user.name %></h2>
    <div class="col-12 mt-5">
      <ul class="tabs mx-auto d-flex justify-content-center">
        <li class="tab-link current" data-tab="tab-1">All</li>
        <li class="tab-link" data-tab="tab-2">work</li>
        <li class="tab-link" data-tab="tab-3">Hobby</li>
      </ul>
      
      <div id="tab-1" class="tab-content current mx-auto d-flex justify-content-center">
        <%= render "posts/tab", posts: @posts %>
      </div>
      
      <div id="tab-2" class="tab-content">
        <%= render "posts/tab", posts: @work_posts %>
      </div>
      
      <div id="tab-3" class="tab-content">
        <%= render "posts/tab", posts: @Hobby_posts %>
      </div>
    </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var tabLinks = document.querySelectorAll(".tab-link");
    
    tabLinks.forEach(function(link) {
      link.addEventListener("click", function(event) {
        var tabName = this.dataset.tab;
        var tabContent = document.getElementById(tabName);
        
        // タブの切り替え
        document.querySelectorAll(".tab-link").forEach(function(link) {
          link.classList.remove("current");
        });
        this.classList.add("current");
        
        // コンテンツの切り替え
        document.querySelectorAll(".tab-content").forEach(function(content) {
          content.classList.remove("current");
        });
        tabContent.classList.add("current");
      });
    });
  });
</script>