<div class="conrtainer">
  <h1 class="text-center mt-4 mb-4">Groove</h1>
</div>

<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <div class="slide-content">
        <%= image_tag 'galaxy-gd1e407e2b_1280.jpg', class: 'img-fluid' %>
        <div class="slide-text">
          <h2 class="mb-5">About</h2>
          <p>作業をしていくうちにタブって多くなりませんか。</p>
          <p>タブを消してしまうと見たい時にどのサイトのものかわからなくなってしまう時ありませんか。</p>
          <p>検索していると解決策を投稿している人と共通点が多いな。と思うことありませんか。</p>
          <p>このサイトで似たもの同士を見つけることで</p>
          <p>タブを整理しながら,問題をすぐに見つけられる可能性があります。</p>
          <p>”情報”による循環（groove）を見つけてみませんか？</p>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="slide-content">
        <%= image_tag 'night-sky-g97827c35f_1280.jpg', class: 'img-fluid' %>
        <div class="slide-text">
          <h2>ここ</h2>
          <p>ここにも文字を配置する</p>
        </div>
      </div>
    </div>


  </div>
</div>