<div class="conrtainer">
  <h1 class="text-center mt-4 mb-4">Groove</h1>
</div>

<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <%= image_tag 'galaxy-gd1e407e2b_1280.jpg', class: 'img-fluid mv' %>
    </div>
    <div class="swiper-slide">
      <%= image_tag 'cosmos-flowers-g160e83809_1280.jpg', class: 'img-fluid mv' %>
    </div>
    

  </div>
</div>