<div class="container">
  <h2 class="text-center mt-5">Trend</h2>
  <div class="row mx-auto d-flex justify-content-center mt-5">
    <%= render 'posts/index', posts: @posts %>
  </div>
</div>


<script>
  const ellipsisTexts = document.querySelectorAll('.ellipsis-text');

  ellipsisTexts.forEach((element) => {
    const fullText = element.getAttribute('data-full-text');
    const maxLength = 31;

    if (fullText.length > maxLength) {
      const truncatedText = fullText.slice(0, maxLength) + '...';
      element.textContent = truncatedText;

      element.addEventListener('click', () => {
        if (element.textContent === truncatedText) {
          element.textContent = fullText;
        } else {
          element.textContent = truncatedText;
        }
      });
    }
  });
</script>